*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #141414;
    font-size: 12px;
}
/* h3{
    text-align: center;
} */
.banner{
      display: flex;
      max-width: 129px;
      height: auto;
      margin-left: 16.5cm;
      margin-right: 16.5cm;
      border-spacing: 2cm;
    }
    /* .content{
        margin-left: 12.5cm;
        margin-right: 12.5cm;
    } */
/* .row4{
    display: flex;
} */