.row {
    display: flex;
}

/* li {
    list-style: none;
} */

/* p {
    margin-top: 10px;
    margin-bottom: 0rem;
} */

.dropdown {
    padding: 10px;
    display: inline-block;
}

/* .dropdown-menu {
    display: none;
    list-style: none;
   
} */

.dropdown:hover .dropdown-menu {
    display: block;

}



.dropdown-item:hover {
    color: #03A9F4;
}
