footer{
    padding: 2cm;
}
.row1{
display: flex;
justify-content: space-around;

}
.logo{
    display: flex;
}
.logo img{
    width: 60px;
    height: 50px;
    padding: 5px;
}
.logo img:hover{
    background-color: #03a9f4;
}
h3{
    color: white;
}
p{
    color: white;
}
